# Aviation Accidents Analysis

You are part of a consulting firm that is tasked to do an analysis of commercial and passenger jet airline safety. The client (an airline/airplane insurer) is interested in knowing what types of aircraft (makes/models) exhibit low rates of total destruction and low likelihood of fatal or serious passenger injuries in the event of an accident. They are also interested in any general variables/conditions that might be at play. Your analysis will be based off of aviation accident data accumulated from the years 1948-2023. 

Our client is only interested in airplane makes/models that are professional builds and could potentially still be active. Assume a max lifetime of 40 years for a make/model retirement and make sure to filter your data accordingly (i.e. from 1983 onwards). They would also like separate recommendations for small aircraft vs. larger passenger models. **In addition, make sure that claims that you make are statistically robust and that you have enough samples when making comparisons between groups.**


In this summative assessment you will demonstrate your ability to:
- **Use Pandas to load, inspect, and clean the dataset appropriately.**
- **Transform relevant columns to create measures that address the problem at hand.**
- conduct EDA: visualization and statistical measures to systematically understand the structure of the data
- recommend a set of airplanes and makes conforming to the client's request and identify at least *two* factors contributing to airplane safety. You must provide supporting evidence (visuals, summary statistics, tables) for each claim you make.

Goal:
-find what types of aircraft (makes/models) exhibit low rates of total destruction
-find low likelihood of fatal or serious passenger injuries in the event of an accident
-Identify two factors contributing to airplane safety

Parameters: 
-professional builds
-Active --max lifetime of 40 years before retirement (1983-Present)
-Separate Recommendations for small aircraft vs. larger passenger models

### Make relevant library imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Loading and Inspection

### Load in data from the relevant directory and inspect the dataframe.
- inspect NaNs, datatypes, and summary statistics

In [16]:
aviation_df = pd.read_csv('AviationData.csv', encoding='latin1', low_memory=False)
us_state_codes_df = pd.read_csv('USState_Codes.csv', encoding='latin1')

aviation_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [ ]:
#Data Inspection
aviation_df.info()
aviation_df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

Event.Id                   object
Investigation.Type         object
Accident.Number            object
Event.Date                 object
Location                   object
Country                    object
Latitude                   object
Longitude                  object
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.flight          object
Air.carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.phase.of.flight      object
Report.Status              object
Publication.Date           object
dtype: object

In [25]:
#Data Inspection
#Missing Values
aviation_df.isna().sum().sort_values(ascending=False)

Schedule                  76307
Air.carrier               72241
FAR.Description           56866
Aircraft.Category         56602
Longitude                 54516
Latitude                  54507
Airport.Code              38757
Airport.Name              36185
Broad.phase.of.flight     27165
Publication.Date          13771
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Fatal.Injuries      11401
Engine.Type                7096
Report.Status              6384
Purpose.of.flight          6192
Number.of.Engines          6084
Total.Uninjured            5912
Weather.Condition          4492
Aircraft.damage            3194
Registration.Number        1382
Injury.Severity            1000
Country                     226
Amateur.Built               102
Model                        92
Make                         63
Location                     52
Investigation.Type            0
Event.Date                    0
Accident.Number               0
Event.Id                      0
dtype: int64

In [ ]:
#Data Inspection
#Duplicates?
aviation_df.duplicated().sum()

0

In [ ]:
#Data Inspection
#Commercial vs. Other
aviation_df['Purpose.of.flight'].value_counts()

Purpose.of.flight
Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: count, dtype: int64

In [43]:
#Summary Statistics 
aviation_df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

## Data Cleaning

### Filtering aircrafts and events

We want to filter the dataset to include aircraft that the client is interested in an analysis of:
- inspect relevant columns
- figure out any reasonable imputations
- filter the dataset

In [ ]:
#Filter Amateur build vs. professional build. The client only wants professional builds
#Professional vs. Amateur Build
aviation_df['Amateur.Built'].value_counts()
aviation_df = aviation_df[aviation_df['Amateur.Built'] != 'Yes']
# Remove Amateur Built = 'Yes' 
aviation_df['Amateur.Built'].value_counts()

Amateur.Built
No    80312
Name: count, dtype: int64

In [64]:
#View inactive planes (i.e. anything built before 1983) 
#Date of Flight
before_date=aviation_df[aviation_df['Event.Date']<'1983-01-01']
sum_before_date=len(aviation_df[aviation_df['Event.Date']<'1983-01-01'])
print(sum_before_date)

after_date=aviation_df[aviation_df['Event.Date']>='1983-01-01']
sum_after_date=len(aviation_df[aviation_df['Event.Date']>='1983-01-01'])
print(sum_after_date)

0
77061

In [ ]:
#Remove inactive places

aviation_df = aviation_df.drop(aviation_df[aviation_df['Event.Date'] < '1983-01-01'].index)

len(aviation_df[aviation_df['Event.Date']<'1983-01-01'])

0

### Cleaning and constructing Key Measurables

Injuries and robustness to destruction are a key interest point for the client. Clean and impute relevant columns and then create derived fields that best quantifies what the client wishes to track. **Use commenting or markdown to explain any cleaning assumptions as well as any derived columns you create.**

**Construct metric for fatal/serious injuries**

*Hint:* Estimate the total number of passengers on each flight. The likelihood of serious / fatal injury can be estimated as a fraction from this.

In [159]:
#Isolate Injury Columns
injuries_data = aviation_df[['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured']]

#Check for data types
injuries_data.dtypes


#Missing Values as 0
injuries_data = injuries_data[['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured']].fillna(0)

#Total onboard per flight 
aviation_df['Total.People'] = injuries_data.sum(axis=1)
aviation_df

#Rate of serious and fatal injuries
aviation_df['Serious_fatal_rate'] = (aviation_df['Total.Fatal.Injuries'] + aviation_df['Total.Serious.Injuries']) / aviation_df['Total.People'].fillna(0)

aviation_df['Serious_fatal_rate']

3600     0.5
3601     0.0
3602     0.0
3603     0.0
3604     0.0
        ...
88884    1.0
88885    NaN
88886    0.0
88887    NaN
88888    0.5
Name: Serious_fatal_rate, Length: 76992, dtype: float64

**Aircraft.Damage**
- identify and execute any cleaning tasks
- construct a derived column tracking whether an aircraft was destroyed or not.

In [104]:
#Clean Titles
aviation_df['Aircraft.damage'] = aviation_df['Aircraft.damage'].str.strip().str.title()

#Find Counts of Types of Damage
aviation_df['Aircraft.damage'].value_counts(dropna=False)

aviation_df['Aircraft.Destroyed'] = aviation_df['Aircraft.damage'] == 'Destroyed'

aviation_df['Aircraft.Destroyed'].value_counts()

Aircraft.Destroyed
False    61558
True     15503
Name: count, dtype: int64

### Investigate the *Make* column
- Identify cleaning tasks here
- List cleaning tasks clearly in markdown
- Execute the cleaning tasks
- For your analysis, keep Makes with a reasonable number (you can put the threshold at 50 though lower could work as well)

In [150]:
#Aircraft Make Cleaning
#Inspect 
aviation_df['Make']
aviation_df['Make'].value_counts(dropna=False)

#Clean
aviation_df['Make'] = aviation_df['Make'].str.strip().str.upper()

aviation_df['Make'].value_counts()

Make
CESSNA                          25754
PIPER                           14106
BEECH                            5097
BOEING                           2675
BELL                             2595
                                ...
BETTER BURN LLC/STARTUBE DIV        1
T BIRD                              1
ENGINEERING AND RESEARCH            1
BYRON J. MOORE                      1
ROYSE RALPH L                       1
Name: count, Length: 1876, dtype: int64

### Inspect Model column
- Get rid of any NaNs.
- Inspect the column and counts for each model/make. Are model labels unique to each make?
- If not, create a derived column that is a unique identifier for a given plane type.

In [126]:
#NaN Removal
aviation_df = aviation_df.dropna(subset=['Model'])
aviation_df['Model'].value_counts()

#Unique to each Make?
(aviation_df.groupby('Model')['Make'].nunique().sort_values(ascending=False))[aviation_df.groupby('Model')['Make'].nunique().sort_values(ascending=False) > 1]

#Unique Identifier
aviation_df['Make_Model'] = aviation_df['Make'] + ' ' + aviation_df['Model']

### Cleaning other columns
- there are other columns containing data that might be related to the outcome of an accident. We list a few here:
- Engine.Type
- Weather.Condition
- Number.of.Engines
- Purpose.of.flight
- Broad.phase.of.flight

Inspect and identify potential cleaning tasks in each of the above columns. Execute those cleaning tasks. 

**Note**: You do not necessarily need to impute or drop NaNs here.

In [149]:
#Engine Type
aviation_df['Engine.Type'].value_counts(dropna=False)

aviation_df['Engine.Type'] = aviation_df['Engine.Type'].str.strip().str.upper()

aviation_df['Engine.Type'] = aviation_df['Engine.Type'].replace({'RECIP':'RECIPROCATING', 'TURBO FAN': 'TURBOFAN'})

#Weather Condition

aviation_df['Weather.Condition'].value_counts(dropna=False)
aviation_df['Weather.Condition'] = aviation_df['Weather.Condition'].str.strip().str.upper()
aviation_df['Weather.Condition'].value_counts()

#Number of Engines
aviation_df['Number.of.Engines'].value_counts(dropna=False)
aviation_df['Numbers.of.Engines'] = pd.to_numeric(aviation_df['Number.of.Engines'], errors='coerce')

#Purpose of Flight
aviation_df['Purpose.of.flight'].value_counts(dropna=False)
aviation_df['Purpose.of.flight'] = aviation_df['Purpose.of.flight'].str.strip().str.upper()

#Broad Phase of Flight 
aviation_df['Broad.phase.of.flight'].value_counts(dropna=False)
aviation_df['Broad.phase.of.flight'] = aviation_df['Broad.phase.of.flight'].str.strip().str.upper()

### Column Removal
- inspect the dataframe and drop any columns that have too many NaNs

In [157]:
#Find NaN %
large_number_NaNs = (aviation_df.isna().mean()*100).loc[lambda x: x > 50].index.tolist()

#Remove columns with over 50% NaN
aviation_df = aviation_df.drop(columns=large_number_NaNs)

### Save DataFrame to csv
- its generally useful to save data to file/server after its in a sufficiently cleaned or intermediate state
- the data can then be loaded directly in another notebook for further analysis
- this helps keep your notebooks and workflow readable, clean and modularized

In [158]:
aviation_df.to_csv('AviationData_Clean.csv', index=False)